<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GeoTable</title>
  </head>
  <body>
    <h1>시험</h1>
    <form  action="index.html" method="post">
      <input type="number" name="attr_id" placeholder="attr_id입력">
      <input type="text" name="geo_id" placeholder="geo_id입력">
      <input type="text" name="name" placeholder="name입력">
      <input type="text" name="comm" placeholder="comm입력">
      <input type="submit" value="전송">
    </form>
  </body>
</html>
