<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
<body>
    <h1>login</h1>
    <form method="get">
        <label>name</label><input type="text" name="name" >
    </form>
</body>
</html>